

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    
}

.flex {
    display: flex;
    align-items: center;
}

#container {
    background-color: #0A3CCE;
    min-height: 100%;
    width: 100%;
    color: #fff; 
}


#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}

#page1>nav {
    width: 90vw;
    position: absolute;
    padding: 20px 4% ;
    justify-content: space-between;
}

nav>img {
    width: 70px;
}

button {
    padding: 9px 20px;
    border: 1px solid #ccccccd7;
    border-radius: 40px;
    background-color: transparent;
    color: #fff;
}

nav button {
    font-size: 15px;
    margin-right: 20px;
}

nav i {
    padding: 9px 10px;
}

#page1>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-bottom {
    margin:  0 9%;
    position: absolute;
    bottom: 10%;
}

.page1-bottom>h1 {
    font-size: 7vw;
    font-weight: 300;
    line-height: 105px;
}

.sub-bottom {
    max-width: 80%;
    gap: 10%;
    margin-top: 6%;
}

.sub-bottom>p {
    font-size: 1.2rem;
    line-height: 2rem;
    
}
.sub-bottom button {
    white-space: nowrap;
    background-color: #fff;
    color: #0A3CCE;
    font-size: 18px;
    padding-inline: 40px;
    margin-top: 10px;
}

#page2 , #page4, #page6{
    height: 70vh;
    width: 100vw;
    position: relative; 
    background-color: #0A3CCE;
    padding: 9% 0;
}

#page4 {
    background-color: #1638D1;
}

#page2>h4, #page4>h4 , #page6>h4{
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #dadadac9;
    font-weight: 500;
    margin-left: 8%;
}
#page2>p, #page4>p, #page6>p {
    font-size: 4rem;
    font-weight: 350;
    margin: 4% 8%;
    line-height: 1.2;
    color: #dadada69;
    max-width: 85%;
    
}

#page3, #page5, #page7 {
    position: relative;
    height: 100vh;
    max-width: 100%;
    background-color: #0A3CCE;
}

#page3>canvas, #page5>canvas, #page7>canvas {
    max-height: 100vh;
    max-width: 100%;
    position: relative;
}

#page7 {
    /* background-color: #ffa600ae; */
    justify-content: center;
}

#page7>.circle {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    z-index: 9;
    border: 1px solid #fff;
    justify-content: center;
    scale: 0.5;
    /* opacity: 0; */
}

.circle>.inner-cir {
    width: 65%;
    height: 65%;
    border: 1px solid #fff;
    border-radius: 50%;
}

#page8 {
    height: 100vh;
    width: 100%;
    position: relative;
}
#page8>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    top: 60%;
    left: 32%;
    text-align: center;
}

.info h2 {
    font-size: 6.2vw;
    font-weight: 350;
}

.info button {
    text-transform: uppercase;
    background-color: #fff;
    color: #0A3CCE;
    font-size: 16px;
    padding: 13px 45px;
    margin-top: 30px;
}

#page9 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-block: 10% 7%;
    align-items: start;
    justify-content: space-between;
    
}

.left {
    height: 100%;
    margin-left: 120px;
    
}

#page9 .left>h2 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 90px;
    margin-top: 20px;
}

.right {
    width: 58%;
    height: 100%;
    margin-right: 100px;
    
}

.right div {
    width: 100%;
    overflow: hidden;
    margin: 0 auto 2rem;
    padding: 20px;

}

.box1>img {
    width: 95%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
}

.right h4 {
    font-size: 1.8rem;
    font-weight: 420;
    margin-top: 30px;
}

.right p {
    font-size: 1.5rem;
    max-width: 97%;
    font-weight: 400;
    color: #dadadabd;
    margin-top: 16px;
}

#page10 {
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    padding-inline: 10% 0;
    padding-block: 9%;
    background-color: #fff;
    color: #000;
}

#page10 h2 {
    font-size: 7vw;
    font-weight: 300;
    margin-bottom: 4vw;
}

#page10 .blog {
    gap: 4%;
    margin-top: 25px;  
}

#page10 .img-container {
    height: 13.5vw;
    width: 44%;
    border-radius: 15px;
    overflow: hidden;
}

.blog .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 1s ease;
}

.blog:hover .img-container img{
    transform: scale(1.05);
}

.blog .content {
    width: 50%;
}

.blog .content>span {
    text-transform: uppercase;
    font-size: 0.95rem;
    color: #0f0f17bd;
}

.content>p {
    margin-top: 15px;
    font-size: 1.7rem;
}

#page10 button {
    color: blue;
    border: 1.5px solid rgba(0, 0, 255, 0.537);
    font-size: 1rem;
    margin: 9% 40% 0;
    padding-inline: 2.5%;
}

#page11 {
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 12% 0;
    background-color: #02268E;
}

#page11>.top {
    max-width: 32%;
    margin-left: 52%;
}

.top>h2 {
    font-size: 6.5vw;
    font-weight: 380;
}

.top>p {
    font-size: 1.3rem;
    color: #dadadae0;
}

.logos {
    margin-top: 15%;
    white-space: nowrap;
    overflow-x: auto;
}
.logos::-webkit-scrollbar {
    display: none;
}
.logos-slide {
    display: inline-block;  
    animation: imgSlider 40s linear infinite; 
}
.logos-slide img {
    height: 100px;
    display: inline-block;
    margin: 0 75px;
} 

@keyframes imgSlider {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
    
}






/* background-color: orange; */
