<<<<<<< HEAD

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body, html {
    /* width: 100%;
    height: 100vh; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ccc;
    
}

h1 {
    font-size: 2.5rem;
    line-height: 10rem;
    color:rgb(23, 23, 116);
    /* background-color: #081b31; */
}

#choices {
    /* width: 60vw; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom:40px;
}

.choice {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(80%);
}

.choice:hover {
    border: 3.5px solid #222;
    transform: scale(1.07);
    cursor: pointer;
}

#score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.score p {
    line-height: 50px;
    font-size: 2rem;
}

#user-score, #comp-score {
    font-size: 3rem;
}

.msg-container {
    margin-top: 2rem;
}

#msg {
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 5px 15px;
    border-radius: 8px;
=======
<<<<<<< HEAD

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body, html {
    /* width: 100%;
    height: 100vh; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ccc;
    
}

h1 {
    font-size: 2.5rem;
    line-height: 10rem;
    color:rgb(23, 23, 116);
    /* background-color: #081b31; */
}

#choices {
    /* width: 60vw; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom:40px;
}

.choice {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(80%);
}

.choice:hover {
    border: 3.5px solid #222;
    transform: scale(1.07);
    cursor: pointer;
}

#score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.score p {
    line-height: 50px;
    font-size: 2rem;
}

#user-score, #comp-score {
    font-size: 3rem;
}

.msg-container {
    margin-top: 2rem;
}

#msg {
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 5px 15px;
    border-radius: 8px;
=======

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body, html {
    /* width: 100%;
    height: 100vh; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ccc;
    
}

h1 {
    font-size: 2.5rem;
    line-height: 10rem;
    color:rgb(23, 23, 116);
    /* background-color: #081b31; */
}

#choices {
    /* width: 60vw; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom:40px;
}

.choice {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(80%);
}

.choice:hover {
    border: 3.5px solid #222;
    transform: scale(1.07);
    cursor: pointer;
}

#score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.score p {
    line-height: 50px;
    font-size: 2rem;
}

#user-score, #comp-score {
    font-size: 3rem;
}

.msg-container {
    margin-top: 2rem;
}

#msg {
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 5px 15px;
    border-radius: 8px;
>>>>>>> a7a9ec0 (New changes made)
>>>>>>> cc4ae32 (changes updated)
}