
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}


.flex {
    display: flex;
    align-items: center;
}

#main {
    position: relative;
    overflow: hidden;
    /* max-width: 100%; */
    
}

#page1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #000;
}
ul>li {
    list-style: none;
    color: #ccccccc3;
    font-size: 12px;
}

.nav-bar {
    width: 65%;
    padding: 14px 0;
    position: absolute;
    left: 17%;
    background-color: #000;
    z-index: 9;
}  

.nav-bar>ul{
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav-bar>ul>li:nth-child(1){
    color: #fff;
    font-size: 18px;
}

.nav-bar>.nav-bot {
    justify-content: space-between;
}
.nav-bar>.nav-bot>h4 {
    font-size: 1.32rem;
    font-weight: 500;
}
.nav-bar>.nav-bot span,p,button {
    margin-left: 40px;
    font-size: 13px;
}

.nav-bot>.menu>span {
    color: #ccccccc3;
}

.nav-bot>.menu>button{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #147CE5;
    color: #fff;
}

#page1>video {
    height: 100%;
    width: 60%;
    object-fit: cover;
    position: absolute;
    left: 20%;
    z-index: 1;
}

#page1>.page1-bottom {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    /* color: #000; */
}

#page1>.page1-bottom >h3 {
    font-size: 1.1rem;
    /* color: #dadadab8; */
}
#page1>.page1-bottom >h2 {
    font-size: 3rem;
}


#page2, #page3, #page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

#page2>video, #page3>video, #page5>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2>h1, #page3>h1{
    position: absolute;
    bottom: 15%;
    left: 40%;
    transform: translateX(-30%);
    font-size: 3vw;
    text-align: center;
}

#page4 {
    position: relative;
    color:#000;
    min-height: 100vh;
    width: 100vw;
    /* background-color: magenta; */
}

#page4>.page4-top {
    width: 100%;
    flex-direction: column;
    padding-block: 4% 6%;
}

.page4-top>h2 {
    font-size: 6.1vw;
    font-weight: 410;
    margin-bottom: 1.7%;
}

.page4-top> p{
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: #f35805;
}

#page4> img {
    max-width: 75%;
    margin-left: 12.5%;
}

#page4> button {
    padding: 1% 2%;
    font-size: 1.2rem;
    border: 3px solid #000;
    border-radius: 50px;
    margin: 5% 42%;
    font-weight: 400;
    background-color: #fff;
}

#page5>.page5-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
} 

.page5-text>h4 {
    font-size: 1.6vw;
}

.page5-text>h1 {
    font-size: 3vw;
}

#page6 {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-color: #F5F5F7;
    display: flex;
    padding: 6% 16%;
}

#page6>.page6-left {
    width: 40%;
    font-size: 1.5rem;
}

#page6>.page6-right {
    width: 60%;
    
}
.page6-right>p {
    font-size: 1.4rem;
    color: #86868B;
    font-weight: 450;
}
.page6-right>button {
    margin-top: 8%;
    padding: 16px 25px;
    font-size: 1.3rem;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: #f35805;
}

#page7 {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #F5F5F7;
}

#page7>.upper7 {
    width: 50%;
    margin: 0 auto;
    padding-block: 8%;
    padding-right: 20px;
    /* background-color: greenyellow; */
}

.upper7>h4 {
    font-size: 1.8rem;
    margin-bottom: 2.5vw;
}
.upper7>h1 {
    font-size: 4vw;
    margin-bottom: 3vw;
}

.upper7>p {
    font-size: 23px;
    color: #6a6a6f;
}

#page7>canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}







